* {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url(https://fonts.googleapis.com/css?family=Manrope);

:root {
  --light-blue: #5984d4;
  --blue: #33528d;
  --white: #f7eee6;
  --grey: #a3a09e8e;
  --brown: #6b4f37;
  --dark-brown: #422c19;
  --yellow: #cc962b;
}
/*-------------NAV BAR--------------*/
.navbar {
  height: 80px;
  background-color: var(--dark-brown);
  display: flex;
  z-index: 999;
  justify-content: center;
  align-items: center;
}
.navbar_container {
  z-index: 1;
  display: flex;
  height: 80px;
  padding: 0 10px;
  max-width: 1800px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navbar_title {
  border: 5px solid var(--dark-brown);
  background-color: var(--white);
  border-radius: 20px;
  text-decoration: none;
  font-size: 2rem;
  padding: 8px 15px;
  margin-left: 1rem;
  color: var(--dark-brown);
  transition: all 1s;
}
.navbar_title:hover {
  transition: all 0.5s;
  border: 5px solid var(--yellow);
  background-color: var(--white);
  border-radius: 20px;
  text-decoration: none;
  font-size: 2rem;
  padding: 8px 15px;
  margin-left: 1rem;
  color: var(--dark-brown);
}
.navbar_choices {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}
.navbar_item {
  display: flex;
}
.navbar_link {
  background-color: var(--brown);
  margin: auto 5px;
  width: 107px;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--white);
  font-size: 0.9rem;
  transition: all 1s;
}
.navbar_link:hover {
  background-color: var(--yellow);
  transition: all 0.5s;
}

.main {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0.75rem 1rem;
  justify-content: space-between;
  width: auto;
  max-width: 1800px;
}

/*-------------LEFT SIDE--------------*/
.leftside {
  margin: auto 0.5rem;
  display: flex;
  width: 30%;
  max-width: 400px;
}
/*-------------ABOUT ME--------------*/

.aboutme {
  background-color: var(--brown);
  border-radius: 30px;
  position: relative;
}
.aboutme_name {
  background-color: var(--white);
  margin: 1rem;
  font-size: x-large;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;

  .material-icons {
    font-size: 2rem;
    color: var(--yellow);
  }
}

.aboutme_major {
  background-color: var(--white);
  margin: 1rem;
  font-size: large;

  padding: 0.5rem 1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  .material-icons {
    font-size: 2rem;
    color: var(--yellow);
  }
}
.aboutme_education {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0.5rem;
}

.school {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  .material-icons {
    padding-right: 0.5rem;
    font-size: 1.5rem;
    color: var(--yellow);
  }
}

.ContactMe {
  text-decoration: none;
  .aboutme_message {
    background-color: var(--yellow);
    margin: 1rem;
    font-size: large;
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border: 5px solid var(--white);
    transition: all 1s;

    .material-icons {
      padding-right: 0.5rem;
      font-size: 1.5rem;
      color: var(--white);
    }
  }
}
.ContactMe:hover {
  .aboutme_message {
    background-color: var(--dark-brown);
    transition: all 0.5s;
  }
}
.headshot {
  width: 85%;
  text-align: center;
  margin: 0.75rem auto;
  padding: 1rem;
  background-color: var(--yellow);
  border-radius: 40px;
  display: block;
}

/*-------------RIGHT SIDE--------------*/
.rightside {
  display: flex;
  width: 70%;
}
/*-------------First Box--------------*/

.firstbox {
  background-color: #b58628;
border-radius: 20px;
padding: 1rem 1rem;
  .h1 {
  }
  .h4{

  }
}
