* {
    font-family: "Manrope", sans-serif;
}

:root {
    --light-blue: #5984d4;
    --blue: #33528d;
    --white: #F3E2D2;
    --brown: #6b4f37;
    --dark-brown: #422c19;
    --yellow: #b58628;
}

#AboutMe {
    padding: 5px;

    display: flex;

}

h1 {
    padding-left: 10pt;
    font-size: 40px;
}

h1 a:link {
    color: var(--white);

}

h1 a:visited {
    color: var(--white);
}

#topnav {
    height: 80px;
    position: sticky;
    top: 0;
    background-color: var(--brown);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);



    ul {
        font-size: 20px;
        list-style: none;
        margin: 0;
        padding-right: 10pt;
    }

    ul li {
        float: right;
        padding-left: 15px;
    }

}

a {
    text-decoration: none;
}

a:link {
    color: var(--yellow);
}

a:visited {
    color: var(--yellow);
}

a:hover {
    color: var(--white);
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}